:root {
	--strongCyan: hsl(172, 67%, 45%);
	--veryDarkCyan: hsl(183, 100%, 15%);
	--darkGrayishCyan: hsl(186, 14%, 43%);
	--grayishCyan: hsl(184, 14%, 56%);
	--lightGrayishCyan: hsl(185, 41%, 84%);
	--veryLightGrayishCyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
	--fontInputs: 1.5rem;
}

html {
	font-size: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--lightGrayishCyan);
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "Space Mono", monospace;

	font-size: 1rem;
}
section {
	margin-top: 3.125rem;
}
.logo {
	text-align: center;
	margin-bottom: 2.5rem;
}
.split__container {
	background-color: var(--white);
	padding: 2.375rem 2.375rem 2rem;
	border-radius: 20px 20px 0 0;
	height: 100%;
}
.split__bill,
.nrOfPpl {
	display: block;
	color: var(--darkGrayishCyan);
	padding-bottom: 0.5rem;
}

#billAmount,
#nrOfPpl {
	border: none;
	background-color: var(--veryLightGrayishCyan);
	padding: 0.375rem 0.75rem;
	margin-bottom: 2rem;
	width: 100%;
	background-image: url(/images/icon-dollar.svg);
	background-repeat: no-repeat;
	background-position: 1rem center;
	text-align: right;
	color: var(--veryDarkCyan);
	font-size: var(--fontInputs);
	border-radius: 4px;
	font-weight: 700;
	font-family: "Space Mono", monospace;
	cursor: pointer;
}
#billAmount:focus-visible,
.customBtn:focus-visible {
	outline: 2px solid var(--strongCyan);
}

.tip__perc_cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.select__tip {
	display: block;
	width: 100%;
	color: var(--darkGrayishCyan);
	margin-bottom: 0.875rem;
}

.tip__perc_cont .button,
.tip__perc_cont .customBtn {
	/* flex-grow: 1; */
	border: none;
	min-width: 8.75rem;
	margin-bottom: 1rem;
}
.tip__perc_cont .button {
	background-color: var(--veryDarkCyan);
	padding: 0.375rem 0.75rem;
	color: var(--white);
	text-align: center;
	font-size: var(--fontInputs);
	border-radius: 4px;
	font-weight: normal;
	font-family: "Space Mono", monospace;
}
.tip__perc_cont .button:hover {
	cursor: pointer;
}
/* .tip__perc_cont .button:active {
	background-color: var(--strongCyan);
} */
.tip__perc_cont .customBtn {
	width: 8.75rem;
	background-color: var(--veryLightGrayishCyan);
	padding: 0.375rem 0.75rem;
	text-align: right;
	color: var(--veryDarkCyan);
	font-size: var(--fontInputs);
	border-radius: 4px;
	font-weight: 700;
	font-family: "Space Mono", monospace;
	cursor: pointer;
}

/* NUMBER OF PEOPLE INPUT */
#nrOfPpl {
	background-image: url(/images/icon-person.svg);
}

/* TIP AMOUNT DISPLAY AND RESET */

.bill__result_inner{
   background-color: var(--veryDarkCyan);
   padding: 2.625rem 1.5rem 1.5rem;
}
/* CREDITS */
.attribution {
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
}
a,
a:visited {
	text-decoration: none;
	color: #2196f3;
	transition: color 0.2s ease-in-out;
}
a:hover {
	color: tomato;
}

/* @media only screen and (min-width: 500px) {
} */

/* @media only screen and (min-width: 768px) {} */

/* @media only screen and (min-width: 992px) {} */

/* @media only screen and (min-width: 1200px) {} */
